<script>
</script>
<table class="team" summary="Team information">
  <h1><%= @team.name %></h1>
  <%= @team.mission %>
  <tr>
    <td class="sidebar round">
      <% unless @members.empty? %>
        <ul class="users">
	  <%= render @members %>
        </ul>
      <% end %>
    </td>
    <td class="main">
      <div id="team_tabs">
	<ul>
	  <li><a href="#team_talk">Team Talk</a></li>
	  <li><a href="#add_team_mates">Add Team Mates</a></li>
	</ul>
	<div id="team_talk">
	  <h2>Team Talk</h2>
	  <%= render 'shared/micropost_form' %>
	  <%= render 'shared/team_talk' %>
	</div>
	<div id="add_team_mates">
	  <%= form_tag do %>
	  <%= will_paginate @users %>
	  <ul class="users">
	    <% @users.each do |user| %>
  	    <li>
	      <%= gravatar_for user, :size => 30 %>
	      <%= link_to user.name, user %>
	      <%= check_box_tag("add[]", user.id) %>	    
	    </li>
	    <% end %>
	  </ul>
	  <%= submit_tag "Add Team Mates", :action => "add_team_mates" %>
	  <% end %>
 	</div>
      </div>
    </td>
  </tr>
</table>
