<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <%= image_tag @user.picture_url, :id => "pic" %>
      <h1> <%= @user.first_name %> <%= @user.last_name %></h1>
      <h1>
	<%= gravatar_for @user %>
      </h1>
      <%= render('layouts/hartman_value_profile') %>
    </td>
    <td class="sidebar round">
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
