<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
	<%= gravatar_for @user %>
	<%= @user.username %>
      </h1>
      <%= link_to "Hartman Value Profile", new_hartman_value_profile_path %>
    </td>
    <td class="sidebar round">
      <strong>Username</strong> <%= @user.username %><br />
      <strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
