<%= form_for @micropost do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <div class="field">
    <%= f.text_area :content %>
  </div>
  <%= f.hidden_field :team_id, :value => @team.id %>
  <div class="actions">
    <%= f.submit "Submit" %>
  </div>
<% end %>
