<%= form_for(:user_session, :url => user_sessions_path, 
             :html => {:id => "sign_in"}) do |f| %>

<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.check_box :remember_me %>
  <%= f.label :remember_me %>
</div>
<div class="actions">
  <%= image_submit_tag("login.gif") %>
</div>
<% end %>
