<%= form_for(:session, :url => sessions_path, 
             :html => {:id => "sign_in"}) do |f| %>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="actions">
  <%= image_submit_tag("login.gif") %>
</div>
<% end %>
