<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
	<h1 class="micropost">Team Talk</h1>
	<%= render 'shared/team_talk' %>
      </td>
      <td class="sidebar round">
	<%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
	<%= link_to "Manage Authentication Accounts", authentications_path %>
      </td>
    </tr>
  </table>
<% else %>
  <%= render 'shared/landever1' %>
<% end %>
