<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
	<%= link_to "Invite a Friend", new_user_invitation_path %>
      </td>
      <td class="sidebar round">
	<%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
	<%= link_to "Manage Authentication Accounts", authentications_path %>
      </td>
    </tr>
  </table>
<% else %>
  <%= render 'shared/launch' %>
<% end %>
