<% if signed_in? %>
  <table class="front" summary="For signed-in users">
    <tr>
      <td class="main">
	<h1 class="micropost">Team Talk</h1>
	<%= render 'shared/team_talk' %>
      </td>
      <td class="sidebar round">
	<%= render 'shared/user_info' %>
	<%= render 'shared/stats' %>
	<%= link_to "Manage Authentication Accounts", authentications_path %>
      </td>
    </tr>
  </table>
<% else %>
  <%= link_to home_logo, root_path %>
  <%= render 'shared/sign_in_index' %>
  <p><strong>Don't user these services? 
      <%= link_to "Sign in", user_session_path %> or
      <%= link_to "Sign up", new_user_session_path %> with a local account.
  </strong></p>
<% end %>
