<%= link_to home_logo, root_path %>

<div class="container">
  <div class="round" id="navigation_bar">
    <div><%= link_to navigation_button("people.gif"), root_path %></div>
    <div><%= link_to navigation_button("businesses.gif"), root_path %></div>
    <div><%= link_to navigation_button("teams.gif"), root_path %></div>
    <div><%= link_to navigation_button("jobs.gif"), root_path %></div>
  </div>
  <div class="round" id="gradient">
    <!--  <%= image_tag("Inner_Gradient.gif", :size => "14x246") %> -->
    <div id="login_box">
      <h1>Login</h1>
      <%= form_for(@user) do |f| %>
      <div class="field">
	<%= f.label :email %>
	<%= f.text_field :name %>
      </div>
      <div class="field">
	<%= f.label :password %>
	<%= f.password_field :password %>
      </div>
      <% end %>
      <div class="actions">
	<%= image_tag("login.gif") %>
      </div>
    </div>
    <div id="sign_in_box">
      <h1>Sign Up</h1>
      <%= form_for(@user) do |f| %>
      <div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
      </div>
      <div class="field">
	<%= f.label :email %>
	<%= f.text_field :email %><br />
      </div>
      <div class="field">
	<%= f.label :password %>
	<%= f.password_field :password %><br />
      </div>
      <div class="field">
	<%= f.label :password_confirmation, "Confirmation" %>
	<%= f.password_field :password_confirmation %>
      </div>
      <div class="actions">
	<%= image_tag("sign_up.gif") %>
      </div>
      <% end %>
    </div>
  </div>
</div>
