<% if signed_in? %>
  <p>To share with your friends, click &ldquo;Recommend&rdquo; and &ldquo;Tweet&rdquo;:</p>
  <div id="fb-root"></div><div id="facebook">[Facebook]</div>
  <br /><br />
  <div id="twitter">[Twitter]</div>
  <p>Or, enter an email address below to send an invitation.</p>
<% else %>
  <h2>Launching soon. Enter your email to join our waiting list.</h2>
<% end %>

<div id="emailbox">
  <%= form_for resource, :as => resource_name, :url => invitation_path(resource_name) do |f| %>
  <%= devise_error_messages! %>
  
  <% if signed_in? %>
    <%= f.text_field :email, :id => "email", :value => "friends@email.com" %>
  <% else %>
    <%= f.text_field :email, :id => "email", :value => "your@email.com" %>
  <% end %>
    
  <%= f.submit "Go" %>
  <% end %>

  <br>
</div><!-- emailbox -->
