<h1>Part 1</h1>

<%= form_for @hvp, :url => part2_hartman_value_profile_path(@hvp), 
                   :html => { :multipart => true } do |f| %>
  <%= @hvp.hvp_elements.each do |hvp_element| %>
    <%= fields_for "hartman_value_profile[hvp_element_attributes][]", 
                         hvp_element do |hvp_element_form| %>
    <p>
      Given Value: <%= hvp_element_form.text_field :given_value %>
    </p>
    <% end %>
  <% end %>
  <p>
    <%= raw submit_tag "Continue" %>
  </p>
<% end %>

