<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%=
	     # link_to is a ruby function so you can write it 
	     # this way:
	     link_to("Home",root_path) 
	     %></li>
      <li><%=
	     # but, the "Rails" way is to write link_to
	     # like this:
	     link_to "Help", help_path 
	     %></li>
      <% if user_signed_in? %>
        <li><%= link_to "Users", users_path %></li>
        <li><%= link_to "Profile", current_user %></li>
	<li><%= link_to "Sign out", destroy_user_session_path %></li>
        <br>Signed in as <%= current_user.email %>.
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>.</li>
      <% end %>
    </ul>
  </nav>
</header>
