<!-- render the fields necessary to allow a new user to sign in -->
<h1>Sign Up</h1>

<%= form_for(@user, :html => {:id => "sign_up"}) do |f| %>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="field">
  <%= f.label :password_confirmation, "Confirmation" %>
  <%= f.password_field :password_confirmation %>
</div>
<div class="actions">
  <%= image_submit_tag("sign_up.gif") %>
</div>
<% end %>
