<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render('layouts/stylesheets') %>
    <%= javascript_include_tag :defaults %>
    <%= javascript_include_tag 'jquery-ui' %>
    <!-- Landever Scripts -->
<!--
   Landever jquery.min.js is incompatible with tabs in jquery-ui
    <%= javascript_include_tag 'landever1/jquery.min.js' %>
-->
    <%= javascript_include_tag 'landever1/jquery-cufon.js' %>
    <%= javascript_include_tag 'landever1/font-mentone.js' %>
    <%= javascript_include_tag 'landever1/fancybox/jquery.fancybox-1.3.4.pack.js' %>
    <%= javascript_include_tag 'landever1/jquery.nivo.slider.pack.js' %>
    <%= javascript_include_tag 'landever1/js.js' %>
    <!-- Landever Scripts -->
  </head>
  <body>
    <div class="curtain" id="left"></div>
    <div class="back-drop" id="center-left"></div>
    <div class="back-drop" id="center-right"></div>
    <div class="curtain" id="right"></div>
    <div id="container">
      <%= render('layouts/header') unless current_user.nil? %>
	<div id="content"> 
	  <% flash.each do |key, value| %>
	  <%= content_tag(:div, value, :class => "flash #{key}") %>
	  <% end %>
	  <%= yield %>
	</div>
      <%= render('layouts/footer') unless current_user.nil? %>
      <%= debug(params) if Rails.env.development? %>
    </div> 
  </body>
</html>
